<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <h1>Dynamic Image Gallery</h1>
  <div class="id"></div>
  <h2 class="title"></h2>
  
  <div class="img"></div>
  <p></p>
  <footer class="footer"><%- include('./partials/footer'); %></footer>
  <script src="/JS/main.js"></script>
</body>
</html> 